
.main-conteiner {
    position:relative;
    text-align: left;
    width: 100%;
    height: 70vh;
    display: flex;
}
.main-conteiner img {
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
}
.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: rgb(255, 255, 255);
    z-index: 2;
    text-align: center;
}

@media only screen and (max-width: 450px) {
    .img-text {
    font-size: 20px;
}
}
